#about h1 {
  color: #C46210;
  font-family: "Arial", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: left;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.container {
  display: flex;
  margin-top: -60px;
}

.left-side {
  color: #98817B;
  flex: 1;
  padding: 70px;
  margin-top: 0px;
  /* justify-content: left; */
  /* padding-left: 100px; */
}

.right-side {
  flex: 0;
  padding-right: 60px;
}

img {
  /* max-width: 100%; */
  height: auto;
  margin-bottom: 100px;
}

#languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* align-items: center; */
  /* grid-row-gap: */
  /* margin-bottom: -1px; */
  /* justify-content: center; */
  margin-top: -290px;
  margin-left: 0%;
  margin-right: 30%;
}
#about h3{
  color: #98817B;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  font-size: 17px;
  margin-top: -50px;


  /* padding-left: 20px; */

}

#languages div {
  color: #98817B;
}

/* #abouth4 {
  margin-top: -195px;
} */


