#home {
  width: 100%;
  height: 100%;
  background-color: #F4F0EC;
  font-family: "Arial", sans-serif;
  /* align-items: center; */
  /* color: #98817B; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.name {
  width: 100%;
  height: 100vh;
  color: #98817B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #F4F0EC; */
  /* align-items: center; */
  /* text-align: center; */
}

#home h3 {
  font-family: "Arial", sans-serif;
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: #C46210;
}

.h2 {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  
}

/* .icons{
  display:flex;
  align-items: center;
  justify-content: space-between;
} */

a {
  color: #AA98A9;
}