#projects {
  width: 100%;
  height: calc(100vh - 100px);
  /* height: 100%; */
  background-color: #F4F0EC;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

/* background-color: #F4F0EC;
width: 100%;
height: 100%;
display: flex;
margin: 0 100px 0 200px; */
#projects h2 {
  color: #C46210;
  font-family: "Arial", sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: left; 
  margin-left: 15%;  

}
.projects .projectTitle {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: #F4F0EC;
}

.projectList {
  width: 70vw;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin-left: 17%;
  /* height: auto; */
  
}

/* MENU ITEM STYLING */

.projectItem {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  
}
.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.projectItem .bgImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectItem h1 {
  font-size: 25px; 
}

  .projectItem {
    width: 300px;
    height: 300px;
    color: #C46210;
  }