.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F4F0EC; 
  padding-bottom: 60px;
}

.project h1 {
  margin-top: 100px;
  color: #C46210;;
  font-size: 30px;

}
.project img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.project p {
  font-size: 25x;
  color: #C46210;;
}

.project svg {
  font-size: 30px;
  color: #C46210;
}

button{
  background-color: #C46210;
  font-size: 20px;
  color: #F4F0EC;
  margin-top: 30px;
}